---
import { ProjectDialog } from '~/components/project-dialog'

const config = [
  {
    name: 'Ask PDF',
    url: {
      github: 'https://github.com/devSaifur/ask-pdf',
      website: 'https://askpdf.vercel.app/',
    },
    description:
      'Ask PDF allows you to have conversations with any PDF document. Simply upload your file and start asking questions with the power of ai right away.',
    image: '/images/ask-pdf.webp',
    tech: ['Next.js', 'Typescript', 'Tailwind', 'PostgreSQL'],
  },
  {
    name: 'The Next Shop',
    url: {
      github: 'https://github.com/devSaifur/the-next-shop',
      website: 'https://the-next-shop.vercel.app/',
    },
    description:
      'The Next Shop is a modern E-Commerce + Dashboard & CMS, with this dashboard store owners have the ability to mange products, view sells details and even customize how the store front looks',
    image: '/images/the-next-store.webp',
    tech: ['Next.js', 'Typescript', 'Tailwind', 'PostgreSQL'],
  },
  {
    name: 'Nasa Mission Control',
    url: {
      github: 'https://github.com/devSaifur/nasa-mission-control',
      website: 'https://nasa-mission-control.vercel.app/',
    },
    description:
      '  A space operation management app for NASA! It can schedule a new mission and abort it if necessary. The front end is built with React,the back end is with NodeJS, and the data is managed in MongoDB.',
    image: '/images/nasa-mission-control.webp',
    tech: ['React', 'Node', 'Tailwind', 'MongoDB'],
  },
  {
    name: 'The Wild Oasis',
    url: {
      github: 'https://github.com/devSaifur/the-wild-oasis',
      website: 'https://the-wild-oasis.vercel.app/',
    },
    description:
      "A hotel insider app for the management team to manage the guests and its customers, It's built with React, Styled Component, and Supabase.",
    image: '/images/the-wild-oasis.webp',
    tech: ['React', 'Tailwind', 'Supabase'],
  },
]
---

<section id="Projects" class="space-y-4">
  <h2 class="text-lg font-bold uppercase text-accent-purple">Projects</h2>
  <div class="grid gap-y-6">
    {
      config.map((project) => (
        <ProjectDialog
          client:idle
          name={project.name}
          description={project.description}
          url={project.url}
          image={project.image}
          tech={project.tech}
        />
      ))
    }
  </div>
</section>
