---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

const config = [
  {
    name: 'Ask PDF',
    url: 'https://github.com/devSaifur/ask-pdf',
    description:
      'Ask PDF allows you to have conversations with any PDF document. Simply upload your file and start asking questions with the power of ai right away.',
    image: '/images/ask-pdf.webp',
    tech: ['Next.js', 'Typescript', 'Tailwind', 'PostgreSQL'],
  },
  {
    name: 'The Next Shop',
    url: 'https://github.com/devSaifur/the-next-shop',
    description:
      'The Next Shop is a modern E-Commerce + Dashboard & CMS, with this dashboard store owners have the ability to mange products, view sells details and even customize how the store front looks',
    image: '/images/the-next-store.webp',
    tech: ['Next.js', 'Typescript', 'Tailwind', 'PostgreSQL'],
  },
  {
    name: 'Nasa Mission Control',
    url: 'https://github.com/devSaifur/nasa-mission-control',
    description:
      '  A space operation management app for NASA! It can schedule a new mission and abort it if necessary. The front end is built with React,the back end is with NodeJS, and the data is managed in MongoDB.',
    image: '/images/nasa-mission-control.webp',
    tech: ['React', 'Node', 'Tailwind', 'MongoDB'],
  },
  {
    name: 'The Wild Oasis',
    url: 'https://github.com/devSaifur/the-wild-oasis',
    description:
      "A hotel insider app for the management team to manage the guests and its customers, It's built with React, Styled Component, and Supabase.",
    image: '/images/the-wild-oasis.webp',
    tech: ['React', 'Tailwind', 'Supabase'],
  },
] as const
---

<section id='Projects' class='grid gap-y-6'>
  <h2 class='text-accent-purple pb-4 text-lg font-bold uppercase'>Projects</h2>
  {
    config.map((project) => (
      <a target='_blank' href={project.url}>
        <div class='group/project mb-6 grid w-full gap-y-6 rounded-md border border-emerald-600 px-4 py-4 shadow-[5px_5px_rgba(0,_98,_90,_0.4),_10px_10px_rgba(0,_98,_90,_0.3),_15px_15px_rgba(0,_98,_90,_0.2),_20px_20px_rgba(0,_98,_90,_0.1),_25px_25px_rgba(0,_98,_90,_0.05)] transition-all delay-75 md:mb-2 md:grid-cols-[1fr,2fr] md:gap-0 lg:hover:cursor-pointer lg:hover:bg-stone-900/50'>
          <div class='grid space-y-4 md:order-2 md:gap-2 md:space-y-3'>
            <h3 class='group-hover/project:text-accent flex items-center font-medium text-white'>
              {project.name}
              <span
                aria-hidden='true'
                class='ml-2 translate-y-px transition-transform group-hover/project:-translate-y-1 group-hover/project:translate-x-1 group-focus-visible/project:-translate-y-1 group-focus-visible/project:translate-x-1 motion-reduce:transition-none'
              >
                <Icon name='arrow' />
              </span>
            </h3>
            <p class='text-justify text-sm text-white/80'>
              {project.description}
            </p>
            <ul class='*:bg-accent/10 text-accent/80 space-x-2 space-y-2 *:rounded-full *:px-3 *:py-1 *:text-xs *:font-medium *:leading-5'>
              {project.tech.map((tech) => (
                <span>{tech}</span>
              ))}
            </ul>
          </div>

          <Image
            src={project.image}
            width='200'
            height='150'
            alt='The Next Shop'
            class='mb-auto max-w-36 rounded-md object-fill md:order-1'
          />
        </div>
      </a>
    ))
  }
</section>
