---
import { ViewTransitions, fade } from 'astro:transitions'
import '~/styles/main.css'

import '@fontsource/geist-sans'

import Navbar from '~/components/Navbar.astro'

interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({ duration: '0.2s' })} />

    <!-- global metadata -->
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Saifur Rahman" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class="min-h-screen scroll-smooth bg-[rgba(30,30,46,255)] font-primary text-base antialiased"
  >
    <Navbar />
    <slot />
  </body>
</html>
